 * {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
}

header {
  background-color: #3e2a35;
  margin: auto;
  margin-top: 2.5%;
  width: 95%;
}

body, main {
  background-color: #c2b2b4;
}

body {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
}

form {
  
}

input {
  padding: 7px;
  width: 500px;
}

label {
  color: #c2b2b4;
  font-size: .8em;
  font-weight: 400;
}

h1.header-text {
  color: #FFF;
  font-size: 2em;
  font-weight: 800;
  letter-spacing: 2.9px;
}

.input-text {
  color: #c2b2b4;
}

.nav-bar {
  align-content: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px
  }

.camera-logo {
  width: 43px;
}

.search-container {
  align-items: center;
  display: flex;
  width: 335px;
}

.search-bar-input {
  border: 2px solid #c2b2b4;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  color: #c2b2b4;
  font-size: 1em;
  height: 42px;
  outline: none;
  padding: 7px;
  width: 287px;
}

.search-bar-btn {
  background-color: #c2b2b4;
  border: 2px solid #c2b2b4;
  border-bottom-right-radius: 6px;
  border-left-style: none;
  border-top-right-radius: 6px;
  height: 42px;
  text-align: center;
}

.fa-search {
  color: #FFFFFF;
  font-size: 1.5em;
  height: 37px;
  padding-top: 6px;
  width: 37px;
}
