/* General Styles*/
 * {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
}

/*Text Styles*/
h1.header-text {
  color: #FFF;
  font-size: 2.5em;
  font-weight: 800;
  letter-spacing: 2.9px;
}

h2.card-title-output, .card-caption-output {
  color: #3e2a35;
  font-weight: 500;
  font-size: 1em;
  padding: 10px;
  resize: none;
  text-align: left;
}

button:focus {
  outline: 0;
}

button:hover {
  background-color: #e26d5a;
  opacity: .9;
}

/*Nav Bar Styles*/
.nav-bar {
  align-content: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  }

.camera-logo {
  width: 51px;
}

.search-container {
  align-items: center;
  display: flex;
  width: 364px;
}

.search-bar-input {
  border: 2px solid #c2b2b4;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  font-size: 1em;
  font-weight: 500;
  height: 44px;
  outline: none;
  padding: 7px;
  width: 345px;
}

.search-bar-btn {
  background-color: #c2b2b4;
  border: 2px solid #c2b2b4;
  border-bottom-right-radius: 6px;
  border-left-style: none;
  border-top-right-radius: 6px;
  cursor: pointer;
  height: 44px;
  text-align: center;
}

.fa-search {
  color: #FFF;
  font-size: 1.5em;
  height: 38px;
  padding-top: 6px;
  width: 38px;
}

/*Body / Header Styles*/
body, main {
  background-color: #c2b2b4;
}

body {
  display: grid;
  grid-template-columns: 1fr;
}

.top-container {
  background-color: #3e2a35;
  margin: auto;
  width: 100%;
}

/*Form Styles*/
label {
  color: #c2b2b4;
  font-size: .8em;
  font-weight: 400;
  margin: 10px;
}

.user-input-form {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.input-text {
  color: #c2b2b4;
}

.title-input, .caption-input {
  font-size: 1.3em;
  margin: 10px;
  padding: 7px;
  width: 500px;
}

/*Button Styles*/
.add-to-album-btn:disabled {
 opacity: .7;
}

.three-buttons-container {
  color: #c2b2b4;
  display: flex;
  flex-flow: column wrap;
  font-size: .8em;
  margin: auto;
  width: 500px;
}

.choose-file-label {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 0;
  width: 500px;
}

.choose-file-label:hover {
  background-color: #e26d5a;
  cursor: pointer;
  opacity: .9; 
}

.choose-file-label, .view-favorites-btn, .add-to-album-btn, .show-more-btn, .show-less-btn {
  background-color: #5b4447;
  border: none;
  color: #fff;
  font-size: .8em;
  font-weight: 400;
  height: 41px;
}

.show-buttons-container {
  display: fixed;
  bottom: 0;
}

#file {
  display: none;
}

.view-favorites-btn, .add-to-album-btn {
  cursor: pointer;
  margin-bottom: 30px;
  width: 225px;
}

.display-none {
  display: none;
}

.show-more-btn, .show-less-btn {
  cursor: pointer;
  font-size: 10px;
  height: 45px;
  margin: auto;
  padding: 10px;
  width: 100%;
}

.more-less-toggle {
  display: none;
}

/*Card Image Container Styles*/
article {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 500px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin: 25px 35px;
}

.card {
  background-color: #fff;
  border: 2px solid #938284;
  margin: auto;
}

.card-img {
 height: 200px;
 object-fit: cover;
 width: 250px;
}

.trash-fav-button-container {
  background-color: #5b4447;
  display: flex;
  justify-content: space-between;
  height: 45px;
  padding: 10px;
}

.card-caption-output {
  padding: 10px;
}

.delete-btn, .favorite-btn {
  cursor: pointer;
  width: 25px;
}

.delete-btn {
  background: url("images/delete.svg");
}

.delete-btn:hover {
  background: url("images/delete-active.svg");
}

.favorite-btn {
  background: url("images/favorite.svg");
}

.favorite-active-btn {
  background: url("images/favorite-active.svg");
}

.upload-photo-message {
  color: #5b4447;
  display: flex;
  flex-flow: column;
  justify-content: center;
  font-size: 1.3em;
  font-weight: 500;
  letter-spacing: .8px;
  padding: 77px;
  text-align: center;
  width: 100%;
}

.fa-cloud-upload-alt {
  color: #e26d5a;
  font-size: 1.7em;
  margin-bottom: 10px;
}

/*.favorite-btn:hover {
  background: url("images/favorite-active.svg");
}*/

@media screen and (max-width: 850px) {
  .nav-bar {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
  }

  .cards-container {
    margin-top: 4%;
  }

  .title-input, .caption-input, .choose-file-label {
    width: 362px;
  }

  .choose-file-label {
    margin: auto;
    margin-top: 10px;
  }

  .view-favorites-btn, .add-to-album-btn {
    margin: auto;
    width: 150px;
  }

  .two-buttons-container {
    display: flex;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 423px;
  }

  .cards-container {
    margin-top: 4%;
  }

  .three-buttons-container {
    width: 475px;
  }

@media screen and (max-width: 500px) {
  h1.header-text {
    font-size: 1.7em;
  }

  .camera-logo {
    width: 40px;
  }

  .title-input, .caption-input, .choose-file-label, .view-favorites-btn, .add-to-album-btn, .search-container {
    width: 280px;
  }

  .three-buttons-container {
    margin: 0;
    width: auto;
  }

  .two-buttons-container {
    width: 100%;
  }

  .add-to-album-btn {
    margin-top: 20px;
  }
  